body {
    background-color: hsl(0, 0%, 10%);
}
.todo-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 4rem;
    color: white;
}
button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-btn {
    background-color: hsl(123, 75%, 43%);
}
.add-btn:hover {
    background-color: hsl(123, 75%, 33%);
}
.delete-btn {
    background-color: hsl(0, 83%, 50%);
}
.delete-btn:hover {
    background-color: hsl(0, 83%, 30%);
}
.move-btn {
    background-color: hsl(212, 83%, 50%);
}
.move-btn:hover {
    background-color: hsl(212, 83%, 30%);
}
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol {
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
}
.delete-btn, .move-btn, .add-btn {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
